body {
  background-color: rgb(100, 95, 95);
}

.search-results {
  background-color: rgb(247, 217, 222);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}